extends layout

block content
    form(id="formID" name="queryClasses", method="post", action='/', class="test")
        div(class="left-half")
            div(class="days")
                h4(class="days-title") 1) Select the days you are available for class
                each day in ['M','T','W','R','F']
                    label(class="day")= day
                    input(class="check" type="checkbox", name="days",  value=day)
            div(class="times")
                h4(class="days-title") 2) Select the earliest and latest time you are available
                div(class="time") Start Time
                    select(name="startHours")
                        for hour in ['01','02','03','04','05','06','07','08','09','10','11','12']
                            option(value=hour)= hour
                    select(name="startMinutes")
                        for minute in minutes
                            option(value=minute)= minute
                    select(name="startPost")
                        for post in ['am','pm']
                            option(value=post)= post
                div(class="endTime time") End Time  
                    select(name="endHours")
                        for hour in ['01','02','03','04','05','06','07','08','09','10','11','12']
                            option(value=hour)= hour
                    select(name="endMinutes")
                        for minute in minutes
                            option(value=minute)= minute
                    select(name="endPost")
                        for post in ['pm','am']
                            option(value=post)= post

        div(class="right-half")
            h4(class="select days-title") 3) Select multiple departments to filter available classes
            div(class="multi")
                select(multiple="multiple" id="multi-select" name="departments")
                    for department in departments
                        option(value=department.department name=department.department)= department.department
    div(class="focus")
    div(class="schedule-button")
        button(id="show-schedule") Show current schedule
    div(class="schedule")
        button(id="close-schedule") close
        button(id='clear-schedule') clear schedule
        div(class="time-labels")
            ul(class="time-names")
                li 9:00-10:30am
                li 10:30am-12:00pm
                li 12:00pm-1:30pm
                li 1:30pm-3:00pm
                li 3:00pm-4:30pm
                li 4:30pm-5:00pm
                li 5:00pm-6:30pm
                li 6:30pm-8:00pm
        div(class="fill-column")
        div(class="day-column" id="monday")
            p Monday
        div(class="day-column" id="tuesday")
            p Tuesday
        div(class="day-column wed" id="wednesday")
            p Wednesday
        div(class="day-column" id="thursday")
            p Thursday
        div(class="day-column friday" id="friday")
            p Friday
            

  
    .class-block
      .results
          ul.classes-list
    <script>$('#my-select').multiSelect()</script>

