extends layout

block content

  form#formID(name="queryClasses", method="post", action='/', class="test")
    div(class="left-half")
        div(class="days")
            each day in ['M','T','W','R','F']
                label= day
                    input(type="checkbox", name="days",  value=day)
        div(class="times")
            div Start Time
                select(name="startHours")
                    for hour in ['01','02','03','04','05','06','07','08','09','10','11','12']
                        option(value=hour)= hour
                select(name="startMinutes")
                    for minute in minutes
                        option(value=minute)= minute
                select(name="startPost")
                    for post in ['am','pm']
                        option(value=post)= post
            div End Time
                select(name="endHours")
                    for hour in ['01','02','03','04','05','06','07','08','09','10','11','12']
                        option(value=hour)= hour
                select(name="endMinutes")
                    for minute in minutes
                        option(value=minute)= minute
                select(name="endPost")
                    for post in ['am','pm']
                        option(value=post)= post

    div(class="right-half")
        select(class="departments", name="departments", multiple="true")
            for department in departments
                option(value=department.department name=department.department)= department.department

  div(class="divide")
  
  div(class="class-block")
    ul(class="classes")


